// colors
$-white: #fffdfa;
$-dark-place-blue: #00001a;
$-gunmetal: #5e607a;
$-light-vermillion: #f15d51;

$background-color: $-white;
$light-text: $-white;
$dark-text: $-dark-place-blue;
$button-primary: $-light-vermillion;

// media queries
$tablet: 768px;
$laptop: 1024px;
$dekstop: 1440px;
