@use './variables' as *;

:root {
  --padding-sm: clamp(1rem, 3%, 1.5rem);
  --padding-md: clamp(1.5rem, 6%, 3rem);
  --padding-lg: clamp(3rem, 12%, 6rem);
  --block-flow-sm: min(2rem, 4vh);
  --block-flow-md: min(4rem, 8vh);
  --block-flow-lg: min(8rem, 20vh);
  --small-text: clamp(1rem, 1vw, 1.2rem);
  --medium-text: clamp(1.4rem, 10vw, 1.6rem);
  --large-text: clamp(1.8rem, 10vw, 2.2rem);
}
html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  min-height: 100svh;
  min-height: 100vh;
  background-color: $background-color;

  &.mobileNavActive {
    overflow: hidden;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 3rem;
  }

  @media screen and (min-width: $laptop) {
    padding-top: 6rem;
  }
}
img,
svg {
  max-width: 100%;
  display: block;
}
a {
  cursor: pointer;
  text-decoration: none;
}
input {
  font-family: inherit;
  border: none;
}
button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}
ul,
ol {
  list-style: none;
}
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#root,
#__next {
  isolation: isolate;
}

#__next {
  &.mobileNavActive::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: mobileNavIn 0.25s linear forwards;
    z-index: 1;
  }
}

@keyframes mobileNavIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
