@use './variables' as *;
@use './utils/container.module.scss' as *;
@use './utils/button.module.scss' as *;

.pageTitle {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.main {
  margin-block-start: 3.4rem;

  & > *:not(h1, :last-child) {
    margin-block-end: 6.4rem;
  }
}

.headContent {
  @extend .container;

  & > * {
    margin-bottom: 2.5rem;
  }

  img {
    object-fit: cover;
  }

  h2 {
    font-size: clamp(4rem, 5vw + 1.6rem, 5.6rem);
    font-weight: 800;
    width: 90%;
    line-height: 1;
    margin-bottom: 1.7rem;
  }

  p {
    line-height: 1.7;
    font-size: 1.5rem;
  }

  a {
    @extend .buttonPrimary;
    width: 18.5rem;
    min-height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
  }
}

.newContent {
  @extend .container;
  color: $light-text;
  background-color: $dark-background;
  padding: 1.1em 1.4em;
  padding-bottom: 0;

  h2 {
    color: $yellow-text;
    font-size: clamp(3.2rem, 3.5vw + 1rem, 4rem);
    margin-block-end: 2.6rem;
  }

  ul {
    display: grid;
    gap: 2.9rem;
  }
}
