@use '../../styles/variables' as *;
@use '../../styles/utils.module.scss' as *;

.navbar {
  padding-top: 2.6rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}

.navbarContainer {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 68vw;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  padding: 1.6em 1.3em 0 1.4em;
  transition: transform 0.25s linear;
  z-index: 1;

  &[aria-hidden='true'] {
    animation: mobileNavSlideOut 0.25s linear forwards;
  }

  &[aria-hidden='false'] {
    animation: mobileNavSlideIn 0.25s linear forwards;
  }
}

.navLinks {
  justify-self: center;
  margin-top: 7.6rem;
}

.navLinks > li a {
  font-size: 1.8rem;
  color: $dark-text;
  font-weight: 400;
  line-height: 2.7;
}

.closeMenuButton {
  align-self: end;
}

// Keyframes
@keyframes mobileNavSlideIn {
  from {
    display: block;
    visibility: visible;
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes mobileNavSlideOut {
  from {
    display: block;
    visibility: visible;
    transform: translateX(0);
  }

  90% {
    transform: translateX(100vw);
  }

  to {
    display: none;
    visibility: hidden;
    transform: translateX(100vw);
  }
}
